@model IEnumerable<AgenciaEnvios.DTOs.DTOs.DTOUsuario.DTOUsuario>

@{
    ViewData["Title"] = "Listado de Usuarios";
}

<h1>Listado de Usuarios</h1>
@if (TempData["CambiosGuardados"] != null)
{
    <div class="alert alert-info">
        @TempData["CambiosGuardados"]
    </div>
}

@if (TempData["AltaCorrecta"] != null)
{
    <div class="alert alert-info">
        @TempData["AltaCorrecta"]
    </div>
}

@if (TempData["UsuarioEliminado"] != null)
{
    <div class="alert alert-info">
        @TempData["UsuarioEliminado"]
    </div>
}




<p>
    <a asp-action="Create" class="btn btn-primary">Agregar nuevo usuario</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.First().Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.First().Contrasenia)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Rol)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Contrasenia</td>
                <td>@item.Email</td>
                <td>@item.Rol</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |


                    @Html.ActionLink(
                             "Eliminar Usuario", // Texto del enlace
                             "Remove",           // Nombre de la acción del controlador
                             "Usuario",          // Nombre del controlador
                             new { id = item.Id }, // Objeto de ruta (parámetros para la acción)
                             new
                             {              // Objeto de atributos HTML
                                 onclick = "return confirmarEliminarUsuario('" + Url.Action("Remove", "Usuario", new { id = item.Id }) + "');"
                             }
                             )
                
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/Usuario/Eliminar.js"></script>
}