@model IEnumerable<AgenciaEnvios.DTOs.DTOs.DTOEnvio.DTOAltaEnvio>

@{
    ViewData["Title"] = "ListarEnvios";
}

<h1>ListarEnvios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroTracking)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAgenciaOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAgenciaDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPuerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eficiente)
            </th>

            <th>Acciones</th>
                
            <th></th>
        </tr>


    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroTracking)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAgenciaOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAgenciaDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPuerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eficiente)
            </td>
            <td>
                @Html.ActionLink("Agregar Seguimiento", "EditSeguimiento", new { id=item.Id }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
